.slider{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 35vw;
    margin-right: auto;
    margin-left: auto;
}


body{
    overflow: hidden;
}

.empty{
    height: 100vh;
}

.picture{
    width: 35vw;
    animation-duration: 1s;
    animation-name: picture;
}

@keyframes picture {
    from {
      width: 120%;
    }
  
    to {
      width: 100%;
    }
  }

.text{
    width: 18vw;
    margin-right: 2vw;
}
.wrapper{
    margin-top: 30px;
    width: 35vw;
    display: flex;
    justify-content: space-between;
}
.page {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: pink;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
.page:active {
    background: green;
  }
.page:hover {
    cursor: pointer;
  }





  @media (max-width: 796px) {
    .picture{
        width:50vw
    }
    .wrapper{
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .text{
        text-align: center;
        margin-right: 0px;
        width: 80%;
    }
  }